{% extends "base_generic.html" %} {% block content %}
<h1>Home Page</h1>
<p>Welcome !</p>
<h2>Dynamic content</h2>
<p>The library has the following record counts:</p>
<ul>
    <li><strong>Musics:</strong> {{ num_musics }}</li>
    <li><strong>Composers:</strong> {{ num_composers }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
    <li><strong>Charts:</strong> {{ num_genre }}</li>
    <li><strong>Album:</strong> {{ num_genre }}</li>
    <li><strong>Genre:</strong> {{ num_genre }}</li>
</ul>
{% endblock %} {% block title %}
<title>Library</title>
{% endblock %}